[Desktop Entry]
Exec=xterm -bg WebMaroon -T "Pomodoro Bash" -geometry 85x40 -e /usr/bin/pomodoro-bash -p -m
Icon=/usr/share/pomodoro-bash/images/tomato.png
Keywords=pomodoro timer
Name=Pomodoro Bash
Type=Application
Version=0.0.1
